<div class="hotkey-info alert alert-info alert-secondary mt-4" role="note">
    <div>
        <Icon Type="IconType.Cog" class="mr-2" />
        <strong>"Find Reazor Source File" feature</strong>
    </div>
    <div>
        Press <span class="key">Ctrl</span> + <span class="key">Shift</span> + <span class="key">F</span> to enter inspection mode.
    </div>
</div>
