<div class="hotkey-info alert alert-info alert-secondary mt-4" role="note">
    <div>
        <span class="oi oi-cog mr-2" aria-hidden="true"></span>
        <strong>"Find Reazor Source File" feature</strong>
    </div>
    <div>
        Press <span class="key">Ctrl</span> + <span class="key">Shift</span> + <span class="key">F</span> to enter inspection mode.
    </div>
</div>
