@page "/"
@namespace SampleSite.Host
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using SampleSite.Components

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <title>Sample Site</title>
    <base href="/" />
    <link rel="icon" href="/_content/SampleSite.Components/favicons/favicon.ico" />
    <link rel="stylesheet" href="_content/SampleSite.Components/css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="_content/SampleSite.Components/css/site.css" />
    <link rel="stylesheet" href="~/SampleSite.Host.styles.css" />
</head>

<body>
    <div id="app">
        <div style="opacity:0; position:fixed; inset:0;">
            <component type="typeof(App)" render-mode="Static" />
        </div>
        <svg class="loading-progress">
            <circle r="40%" cx="50%" cy="50%" />
            <circle r="40%" cx="50%" cy="50%" />
        </svg>
        <div class="loading-progress-text"></div>
    </div>

    <div id="blazor-error-ui">
        An unhandled error has occurred.
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.webassembly.js"></script>
</body>

</html>
