.key {
    border: solid 1px #0c5460;
    display: inline-block;
    width: 2.2em;
    height: 2.2em;
    line-height: 2.2em;
    text-align: center;
    border-radius: 6px;
    border-bottom-width: 2px;
    font-size: 14px;
}